<h1>割り勘アプリ</h1>

<%= form_with url: "/bills", method: :post do %>

  <div>
    <%= label_tag :amount, "合計金額" %>
    <%= number_field_tag :amount %> 
  </div>

  <div>
    <%= label_tag :people, "人数" %>
    <%= number_field_tag :people %>
  </div>

  <%= submit_tag "計算" %>

<% end %>

<% if @result.present? %>

  <h2>
    1人あたり <%= @result %> 円
  </h2>

<% end %>

<h2>履歴</h2>

<% @bills.each do |bill| %>

  <p>
    合計: <%= bill.amount %>円 /
    人数: <%= bill.people %>人 /
    1人: <%= bill.result %>円
  </p>

<% end %>